# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
_current_test
_dist
_playground
.alm
.dev
.DS_Store
.fusebox
.idea
.project
.release
.settings
.tmp
.vscode
build
node_modules
npm-debug.log*
playground
sourcemaps.js.map
yarn.lock
some.sh


# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.fusebox/cache/3.7.1/*
.fusebox
