@mixin drawer {
    z-index:1;

    @mixin drawer_header {

    }

    @mixin drawer_body {
        z-index:100;
    }

    @mixin drawer_footer {
        & > action[type] {
            &:last-child {
                @mixin flex right;
            }
        }
    }
}
